# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\monty.panday\Desktop\Masters\COS10009 - Introduction to Programming\Super Mario\.idea/dataSources/
/dataSources.local.xml
